.btn {
  font-family: inherit;
  padding:  .8rem 1.4rem;
  border-radius: 0;
  border: 1px solid black;

  background: var(--bright-pink);


  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;

  transition: all .2s ease-in;
}

.btn:active,
.btn:hover {
  /*background-color: black;*/
  /*color: lightpink;*/
  transition: all .2s ease-out;
  filter: drop-shadow(4px 4px 0 black);

}

.icon {
}

.title {
  margin-bottom: 2px;
}

.btn_options {
  background: white;
}

.btn_options:active,
.btn_options:hover {
  background: lightgray;
  color: black;
}