.btn {
  font-family: inherit;

  padding:  1.1rem 1.8rem;
  border-radius: 0;
  border: 1px solid black;
  background: lightpink;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;

  transition: all .2s ease-in;
}

.btn:active,
.btn:hover {
  background-color: black;
  color: lightpink;
  transition: all .2s ease-out;
}

.icon {
}

.title {
  margin-bottom: 2px;
}

.btn_options {
  background: white;
}

.btn_options:active,
.btn_options:hover {
  background: lightgray;
  color: black;
}