.header {
  background: white;
  max-height: 6rem;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  margin-bottom: 20px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  text-decoration: none;
}

.logoIcon {
  height: 34px;
  width: 34px;
  transition: all .3s ease;
}

.logoIcon > img {
  width: 100%;
}

.logoTitle {

}