.progressBar {
  position: relative;
  width: 100%;
  background: white;
  height: 2rem;
  border: 1px solid black;
}

.progressFill {
  height: 1.4rem;
  width: 10%;
  background-color: var(--bright-green);
  margin: 2px;
  transition: width 0.3s ease-in-out;
}